.hero {
    text-align: center;
    padding: 12rem 0.5rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .hero h1 {
    font-size: 4rem;
    margin-top: 100px;
    margin-bottom: 1rem;
    background: linear-gradient(to right, var(--clrSecondary), var(--clrAccent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .tagline {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .bio {
    font-size: 1.2rem;
    color: #ccc;
  }
  