:root {
    /* Dark Theme */
    --clr-primary: #1a1a1a;
    --clr-secoundary: #009FFD;
    --clr-accent: #00C896;     /* Lighter Indigo */
    --clr-background: #182020;      /* Lighter Emerald */
    --clr-text: #E5E7EB;        /* Gray-200 */
    --clr-text-light: #9CA3AF;  /* Gray-400 */
    --clr-background: #021919; /* Gray-900 */
  }
  /* Base Styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Robo', sans-serif;
    color: var(--clr-text);
    transition: background-color 0.3s, color 0.3s;
  }
